@model Audecyzje.Core.Domain.Tag

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegExp)
        </dd>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Id</td>
                    <td>Decision Number</td>
                    <td>Uploaded Date</td>
                </tr>
                @foreach (var dt in Model.LinkedDecisions)
                {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Decisions" asp-route-id="@dt.DecisionId">@dt.DecisionId</a>
                    </td>
                    <td>
                        @dt.Decision.DecisionNumber
                    </td>
                    <td>
                        @dt.Decision.UploadedTime
                    </td>
                </tr>

                }
            </table>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
