@model IEnumerable<Audecyzje.WebQuickDemo.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a class="btn-primary" asp-action="CheckAllDecisionsContentWithTagsRegexp">RECREATE tags</a>
<a class="btn-danger" asp-action="ClearAllTagRelations">Delete all tags relations</a>
<h4>
    Both actions might take some time to finish. Be patient.

</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedDecisionsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedDecisionsCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
