@model IEnumerable<Audecyzje.WebQuickDemo.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h2>Tagi</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Utwórz nowy tag</a>
</p>
<a class="btn btn-primary" asp-action="CheckAllDecisionsContentWithTagsRegexp">Utwórz tagi na nowo</a>
<a class="btn btn-danger pull-right" asp-action="ClearAllTagRelations">Usuń wszystkie tagi i relacje</a>
<h4>
    Obie akcje mogą chwilę potrwać - poczekaj cierpliwie ; )
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedDecisionsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedDecisionsCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
